In [1]:
import pandas as pd

In [2]:
# file path to schools data
schools_path = "../Resources/04-Pandas_HW_Instructions_PyCitySchools_Resources_schools_complete.csv"
schools_df = pd.read_csv(schools_path)
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# file path to students data
students_path = "../Resources/04-Pandas_HW_Instructions_PyCitySchools_Resources_students_complete.csv"
students_df = pd.read_csv(students_path)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# merege school dataframe and student dataframe to school data complete
school_data_complete = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [22]:
# district summary

# total number of schools
isolate_schools = school_data_complete["school_name"]
unique_schools = isolate_schools.unique()
#unique_schools.value_counts()

AttributeError: 'numpy.ndarray' object has no attribute 'value_counts'

In [23]:
# total number of students
total_students = school_data_complete["student_name"]
student_count = total_students.count()
print(student_count)

39170

In [25]:
# Calculate the total budget
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [29]:
# Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [30]:
# Calculate the average math score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [31]:
# Percent passing math
passing_math = [school_data_complete["math_score"] if >= 70]
passing_math

SyntaxError: invalid syntax (<ipython-input-31-e2aae1d02235>, line 4)

In [ ]:
# Percent passing reading 
passing_reading =