In [3]:
import pandas as pd

In [34]:
# file path to schools data
schools_path = "../Resources/04-Pandas_HW_Instructions_PyCitySchools_Resources_schools_complete.csv"
schools_df = pd.read_csv(schools_path)
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [35]:
# file path to students data
students_path = "../Resources/04-Pandas_HW_Instructions_PyCitySchools_Resources_students_complete.csv"
students_df = pd.read_csv(students_path)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [36]:
# merege school dataframe and student dataframe to school data complete
school_data_complete = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
school_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [6]:
# district summary
# DISTRICT SUMMARY COMPLETE

# total number of schools
school_count = len(school_data_complete["school_name"].unique())

# total number of students
total_students = school_data_complete["student_name"]
student_count = total_students.count()

# Calculate the total budget
total_budget = schools_df["budget"].sum()
total_budget

# Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()

# Calculate the average math score
average_reading_score = school_data_complete["reading_score"].mean()

#Calculate the average percentage passing math
passing_math = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
number_passing_math = passing_math["math_score"].count()
number_passing_math

average_passing_math = ((passing_math["math_score"].count()) / (total_students.count()))*100
average_passing_math

#Calculate the average percentage passing reading
passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
number_passing_reading = passing_reading["reading_score"].count()
number_passing_reading

average_passing_reading = ((passing_reading["reading_score"].count()) / (total_students.count()))*100
average_passing_reading

#QUESTION -- I do not think this is set up correctly - I am able to interchange "math_score" with any column 
# Percent of students who passed math and reading
passing_reading_math = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
passing_reading_math.count()

# I can enter in any coloumn and get the same answer
average_passing_reading_math = ((passing_reading_math["math_score"].count()) / (total_students.count()))*100
average_passing_reading_math

65.17232575950983

In [7]:
# create dataframe to hold results
# DISCTRICT SUMMARY COMPLETE

district_summary = pd.DataFrame(
    {"Total Schools":[school_count],
    "Total Students":[student_count],
    "Total Budget":[total_budget],
    "Average Math Score":[average_math_score],
    "Average Reading Score":[average_reading_score],
    "% Passing Math":[average_passing_math],
    "% Passing Reading":[average_passing_reading],
    "% Overall Passing": [average_passing_reading_math]}
)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [62]:
# School Summary

# GROUPBY AT THE END?

# school name
school_name = school_data_complete["school_name"].unique()
school_name

# total students per school
student_count = school_data_complete["student_name"].groupby(school_data_complete["school_name"]).count()
student_count

# type by school
school_type = school_data_complete["type"].groupby(school_data_complete["school_name"])
school_type = schools_df.set_index(["school_name"])
type_school = school_type["type"]
type_school

# total budget by school
total_school_budget = school_data_complete["budget"].groupby(school_data_complete["school_name"])
total_school_budget.value_counts()
school_budget = total_school_budget.mean()
school_budget

# budget per student by school
budget_per_student = (school_budget / student_count)
budget_per_student


# average math score
average_math_grouped = school_data_complete["math_score"].groupby(school_data_complete["school_name"])
av_math_group = average_math_grouped.mean()
av_math_group

# average reading score
average_reading_grouped = school_data_complete["reading_score"].groupby(school_data_complete["school_name"])
av_read_group = average_reading_grouped.mean()
av_read_group

# % passing math

passing_math = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
new_passing_math = passing_math.groupby("school_name").count()["Student ID"]
percentage_passing_math = (new_passing_math / student_count)*100
percentage_passing_math

# % passing reading
passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
new_passing_reading = passing_reading.groupby("school_name").count()["Student ID"]
percentage_passing_reading = (new_passing_reading / student_count)*100
percentage_passing_reading

# % overall passing
passing_math_reading = school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
new_passing_math_reading = passing_math_reading.groupby("school_name").count()["Student ID"]
percentage_passing_math_reading = (new_passing_math_reading / student_count)*100
percentage_passing_math_reading

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [63]:
# create dataframe to hold results
# how to set index to school_name?

#school_name not in brackets
school_summary = pd.DataFrame(
    {"School Name": school_name,
    "School Type": type_school,
    "Total Students": student_count,
    "Total Budget": school_budget,
    "Per Student Budget": budget_per_student,
    "Average Math Score": av_math_group,
    "Average Reading Score": av_read_group,
    "% Passing Math": percentage_passing_math,
    "% Passing Reading": percentage_passing_reading,
    "% Overall Passing": percentage_passing_math_reading}
)

school_summary_complete = school_summary.set_index("School Name")
     
school_summary_complete

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Huang High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Figueroa High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Shelton High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Hernandez High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Cabrera High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Bailey High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Holden High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Rodriguez High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Johnson High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Ford High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Thomas High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [66]:
#  Top Performing Schools (By % Overall Passing)
top_performing_schools = school_summary_complete.sort_values("% Overall Passing", ascending = False).head()
top_performing_schools

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Figueroa High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Johnson High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Ford High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [67]:
# Bottom Performing Schools (By % Overall Passing)
bottom_performing_schools = school_summary_complete.sort_values("% Overall Passing").head()
bottom_performing_schools

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Wright High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Bailey High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Wilson High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [73]:
# Math Scores by Grade 

# school name
school_name = school_data_complete["school_name"].unique()
school_name

grade_nine = school_data_complete.loc[school_data_complete["grade"] == "9th"]
nine_math = grade_nine.groupby("school_name")
grade_nine_math_average = nine_math["math_score"].mean()
grade_nine_math_average

grade_ten = school_data_complete.loc[school_data_complete["grade"] == "10th"]
ten_math = grade_ten.groupby("school_name")
grade_ten_math_average = ten_math["math_score"].mean()
grade_ten_math_average


grade_eleven = school_data_complete.loc[school_data_complete["grade"] == "11th"]
eleven_math = grade_eleven.groupby("school_name")
grade_eleven_math_average = eleven_math["math_score"].mean()
grade_eleven_math_average

grade_twelve = school_data_complete.loc[school_data_complete["grade"] == "12th"]
twelve_math = grade_twelve.groupby("school_name")
grade_twelve_math_average = twelve_math["math_score"].mean()
grade_twelve_math_average

math_score = pd.DataFrame(
    {"School Name": school_name,
    "9th Grade": grade_nine_math_average,
    "10th Grade": grade_ten_math_average,
    "11th Grade": grade_eleven_math_average,
    "12th Grade": grade_twelve_math_average}
)

math_score_by_grade = math_score.set_index("School Name")

math_score_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
School Name
Huang High School      77.083676   76.996772   77.515588   76.492218
Figueroa High School   83.094697   83.154506   82.765560   83.277487
Shelton High School    76.403037   76.539974   76.884344   77.151369
Hernandez High School  77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Wilson High School     77.438495   77.337408   77.136029   77.186567
Cabrera High School    83.787402   83.429825   85.000000   82.855422
Bailey High School     77.027251   75.908735   76.446602   77.225641
Holden High School     77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Wright High School     76.859966   76.612500   76.395626   77.690748
Rodriguez High School  83.420755   82.917411   83.383495   83.778976
Johnson High School    83.590022   83.087886   83.498795   83.497041
Ford High School       83.085578   83.724422   83.195326   83.035794
Thomas High School     83.264706   84.010288   83.836782   83.644986

In [70]:
# SCHOOL SUMMARY TESTER

grade_twelve = school_data_complete.loc[school_data_complete["grade"] == "12th"]
twelve_math = grade_twelve.groupby("school_name")
grade_twelve_math_average = twelve_math["math_score"].mean()
grade_twelve_math_average

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [ ]:
# Reading Scores by Grade 

grade_nine_r = school_data_complete.loc[school_data_complete["grade"] == "9th"]
grade_nine_reading_average = grade_nine["reading_score"].mean()
nine_reading = grade_nine_math_average.groupby("school_name")
nine_reading

#grade_ten_r = school_data_complete.loc[school_data_complete("grade") == "10th"]
#grade_ten_reading_average = grade_ten["reading_score"].mean()
#ten_reading = grade_ten_reading_average.groupby("school_name")
#ten_reading

#grade_eleven_r = school_data_complete.loc[(school_data_complete("grade") == "11th")]
#grade_eleven_reading_average = grade_eleven["reading_score"].mean()
#eleven_reading = grade_eleven_math_average.groupby("school_name")
#eleven_reading

#grade_twelve = school_data_complete.loc[(school_data_complete("grade") == "12th")]
#grade_twelve_reading_average = grade_twelve["reading_score"].mean()
#twelve_reading = grade_twelve_math_average.groupby("school_name")
#twelve_reading


#set index to school_name

reading_score = pd.DataFrame(
    {"School Name: [school_name]},
    #{"9th Grade":[nine_reading],
    #"10th Grade":[ten_reading],
    #"11th Grade":[eleven_reading]
    #"12th Grade":[twelve_reading]}
)
reading_score

In [ ]:
# Scores by School Spending 

# QUESTION -- I want to use the information I already have the from school summary df above - I am creating a df
# called scores_school_spending to hold the list of columns I want to extract from the school summary
scores_school_spending = school_summary_complete[["Per Student Budget":[variable],
                                                "Average Math Score":[average_math_score],
                                                "Average Reading Score":[average_reading_score],
                                                "% Passing Math":[average_passing_math],
                                                "% Passing Reading":[average_passing_reading],
                                                "% Overall Passing"]]

# create bins
bins = [0, 584, 629, 644, 675]
# create labels for bins
group_names = ["<$584","$585-$629","$630-$644","$645-$675"]
# slice data and place into bins
pd.cut(budget_per_student, bins, labels=group_names).head()
# Place the data series into a new column inside of the DataFrame - CP from example
scores_spending_student_df["scores_spending_student"] = pd.cut(budget_per_student, bins, labels=group_names).head()
#scores_spending_student_df = scores_spending_student_df.groupby("scores_spending_student")
#groupby.scores_spending_student.mean() x5 av math, av read, 
scores_spending_student_df.head()

In [ ]:
# Scores by School Size

scores_school_size = school_summary_complete[["Total Students":[student_count],
                                                "Average Math Score":[average_math_score],
                                                "Average Reading Score":[average_reading_score],
                                                "% Passing Math":[average_passing_math],
                                                "% Passing Reading":[average_passing_reading],
                                                "% Overall Passing"]]

# create bins
bins = [0, 999, 1999, 5000]
# create labels for bins
group_names = ["Small (<1000)","Medium (1000-2000)","Large (2000-5000)"]
# slice data and place into bins 
#pd.cut(school_summay_complete["student_count"], bins, labels=group_labels).head()
# Place the data series into a new column inside of the DataFrame - school_size_groups is the new column created 
# from binning
scores_school_size_df["school_size_groups"] = pd.cut(scores_school_size["student_count"], bins, labels=group_names)

scores_school_size_df.groupby("school_size_groups")

scores_school_size_df.head()

In [ ]:
#scores by school type

#.groupby schooltype
school_type_grouped = school_summary_complete.groupby("type")
#pick with columns i want
type_columns = school_summary_complete[["Average Math Score":[average_math_score],
                                                "Average Reading Score":[average_reading_score],
                                                "% Passing Math":[average_passing_math],
                                                "% Passing Reading":[average_passing_reading],
                                                "% Overall Passing"]]
school_type_grouped[type_columns].mean()