In [1]:
import pandas as pd

In [2]:
# file path to schools data
schools_path = "../Resources/04-Pandas_HW_Instructions_PyCitySchools_Resources_schools_complete.csv"
schools_df = pd.read_csv(schools_path)
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# file path to students data
students_path = "../Resources/04-Pandas_HW_Instructions_PyCitySchools_Resources_students_complete.csv"
students_df = pd.read_csv(students_path)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# merege school dataframe and student dataframe to school data complete
school_data_complete = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
school_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [6]:
# district summary
# DISTRICT SUMMARY COMPLETE

# total number of schools
school_count = len(school_data_complete["school_name"].unique())

# total number of students
total_students = school_data_complete["student_name"]
student_count = total_students.count()

# Calculate the total budget
total_budget = schools_df["budget"].sum()
total_budget

# Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()

# Calculate the average math score
average_reading_score = school_data_complete["reading_score"].mean()

#Calculate the average percentage passing math
passing_math = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
number_passing_math = passing_math["math_score"].count()
number_passing_math

average_passing_math = ((passing_math["math_score"].count()) / (total_students.count()))*100
average_passing_math

#Calculate the average percentage passing reading
passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
number_passing_reading = passing_reading["reading_score"].count()
number_passing_reading

average_passing_reading = ((passing_reading["reading_score"].count()) / (total_students.count()))*100
average_passing_reading

#QUESTION -- I do not think this is set up correctly - I am able to interchange "math_score" with any column 
# Percent of students who passed math and reading
passing_reading_math = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
passing_reading_math.count()

# I can enter in any coloumn and get the same answer
average_passing_reading_math = ((passing_reading_math["math_score"].count()) / (total_students.count()))*100
average_passing_reading_math

65.17232575950983

In [7]:
# create dataframe to hold results
# DISCTRICT SUMMARY COMPLETE

district_summary = pd.DataFrame(
    {"Total Schools":[school_count],
    "Total Students":[student_count],
    "Total Budget":[total_budget],
    "Average Math Score":[average_math_score],
    "Average Reading Score":[average_reading_score],
    "% Passing Math":[average_passing_math],
    "% Passing Reading":[average_passing_reading],
    "% Overall Passing": [average_passing_reading_math]}
)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
# School Summary

# GROUPBY AT THE END?

# total students per school
student_count = school_data_complete["student_name"].groupby(school_data_complete["school_name"]).count()
student_count

# type by school
school_type = school_data_complete["type"].groupby(school_data_complete["school_name"])
school_type_df = school_type.value_counts()

# total budget by school
total_school_budget = school_data_complete["budget"].groupby(school_data_complete["school_name"])
total_school_budget.value_counts()
school_budget = total_school_budget.value_counts()

# budget per student by school
#ERROR
budget_per_student = ((school_data_complete["budget"]) / (student_count)).groupby(school_data_complete["school_name"])
budget_student = budget_per_student.value_counts()
budget_student


# average math score
average_math_grouped = school_data_complete["math_score"].groupby(school_data_complete["school_name"])
av_math_group = average_math_grouped.mean()
av_math_group

# average reading score
average_reading_grouped = school_data_complete["reading_score"].groupby(school_data_complete["school_name"])
av_read_group = average_reading_grouped.mean()
av_read_group

# % passing math
#ERROR
percentage_passing_math = ((school_data_complete["math_score"] >= 70) / (student_count)).groupby(school_data_complete["school_name"])
percentage_passing_math.value_counts()

# % passing reding
#ERROR
percentage_passing_reading = ((school_data_complete["reading_score"] >= 70) / (student_count)).groupby(school_data_complete["school_name"])
percentage_passing_reading.value_counts()

# % overall passing
#ERROR
percentage_passing_math_reading = ((school_data_complete["math_score"] >= 70) / (student_count)).groupby(school_data_complete["school_name"])
percentage_passing_math_reading.value_counts()

In [1]:
# SCHOOL SUMMARY TESTER

# average math score
budget_per_student = ((school_data_complete["budget"]) / (student_count)).groupby(school_data_complete["school_name"])
budget_per_student.value_counts()
#budget_student = budget_per_student.value_counts()
#budget_student

NameError: name 'school_data_complete' is not defined

In [ ]:
# create dataframe to hold results
# how to set index to school_name?

school_summary = pd.DataFrame(
    #{"School Name: [school_name]},
    #{"School Type":[school_type_df],
    #"Total Students":[student_count],
    #"Total Budget":[school_budget]}
    #"Per Student Budget":[variable],
    #"Average Math Score":[average_math_score],
    #"Average Reading Score":[average_reading_score],
    #"% Passing Math":[average_passing_math],
    #"% Passing Reading":[average_passing_reading],
    #"% Overall Passing": [average_passing_reading_math]}
)

school_summary_complete = school_summary.set_index("school_name")
     
school_summary_complete

In [ ]:
#  Top Performing Schools (By % Overall Passing)
top_performing_schools = school_summary_complete.sort_values("Overall Passing", ascending = False)

In [ ]:
# Bottom Performing Schools (By % Overall Passing)
bottom_performing_schools = school_summary_complete.sort_values("Overall Passing")

In [2]:
# Math Scores by Grade 

# QUESTION -- Groupby at the end, or groupby when I am isolating the average scores by grade? 

# AttributeError: 'float' object has no attribute 'groupby' - school_data_complete is not defined 
grade_nine = school_data_complete#.loc[school_data_complete["grade"] == "9th"]
grade_nine_math_average = grade_nine["math_score"].mean()
nine_math = grade_nine_math_average.groupby("school_name")
nine_math

#grade_ten = school_data_complete.loc[school_data_complete("grade") == "10th"]
#grade_ten_math_average = grade_ten["math_score"].mean()
#ten_math = grade_ten_math_average.groupby("school_name")
#ten_math

#grade_eleven = school_data_complete.loc[(school_data_complete("grade") == "11th")]
#grade_eleven_math_average = grade_eleven["math_score"].mean()
#eleven_math = grade_eleven_math_average.groupby("school_name")
#eleven_math

#grade_twelve = school_data_complete.loc[(school_data_complete("grade") == "12th")]
#grade_twelve_math_average = grade_twelve["math_score"].mean()
#twelve_math = grade_twelve_math_average.groupby("school_name")
#twelve_math

#set index to school_name

#math_score = pd.DataFrame(
    #{"School Name: [school_name]},
    #{"9th Grade":[nine_math],
    #"10th Grade":[ten_math],
    #"11th Grade":[eleven_math]
    #"12th Grade":[twelve_math]}
#)

#math_score_by_grade = math_score.set_index("school_name")

#math_score_by_grade

NameError: name 'school_data_complete' is not defined

In [ ]:
# Reading Scores by Grade 

grade_nine_r = school_data_complete.loc[school_data_complete["grade"] == "9th"]
grade_nine_reading_average = grade_nine["reading_score"].mean()
nine_reading = grade_nine_math_average.groupby("school_name")
nine_reading

#grade_ten_r = school_data_complete.loc[school_data_complete("grade") == "10th"]
#grade_ten_reading_average = grade_ten["reading_score"].mean()
#ten_reading = grade_ten_reading_average.groupby("school_name")
#ten_reading

#grade_eleven_r = school_data_complete.loc[(school_data_complete("grade") == "11th")]
#grade_eleven_reading_average = grade_eleven["reading_score"].mean()
#eleven_reading = grade_eleven_math_average.groupby("school_name")
#eleven_reading

#grade_twelve = school_data_complete.loc[(school_data_complete("grade") == "12th")]
#grade_twelve_reading_average = grade_twelve["reading_score"].mean()
#twelve_reading = grade_twelve_math_average.groupby("school_name")
#twelve_reading


#set index to school_name

reading_score = pd.DataFrame(
    {"School Name: [school_name]},
    #{"9th Grade":[nine_reading],
    #"10th Grade":[ten_reading],
    #"11th Grade":[eleven_reading]
    #"12th Grade":[twelve_reading]}
)
reading_score

In [ ]:
# Scores by School Spending 

# QUESTION -- I want to use the information I already have the from school summary df above - I am creating a df
# called scores_school_spending to hold the list of columns I want to extract from the school summary
scores_school_spending = school_summary_complete[["Per Student Budget":[variable],
                                                "Average Math Score":[average_math_score],
                                                "Average Reading Score":[average_reading_score],
                                                "% Passing Math":[average_passing_math],
                                                "% Passing Reading":[average_passing_reading],
                                                "% Overall Passing"]]

# create bins
bins = [0, 584, 629, 644, 675]
# create labels for bins
group_names = ["<$584","$585-$629","$630-$644","$645-$675"]
# slice data and place into bins
#pd.cut(school_summay_complete["budget_students"], bins, labels=group_labels).head()
# Place the data series into a new column inside of the DataFrame - CP from example
scores_spending_student_df["scores_spending_student"] = scores_school_spending["Per Student Budget":[variable]], bins, labels=group_labels)
scores_spending_student_df = scores_spending_student_df.groupby("scores_spending_student")
scores_spending_student_df.head()

In [ ]:
# Scores by School Size

scores_school_size = school_summary_complete[["Total Students":[student_count],
                                                "Average Math Score":[average_math_score],
                                                "Average Reading Score":[average_reading_score],
                                                "% Passing Math":[average_passing_math],
                                                "% Passing Reading":[average_passing_reading],
                                                "% Overall Passing"]]

# create bins
bins = [0, 999, 1999, 5000]
# create labels for bins
group_names = ["Small (<1000)","Medium (1000-2000)","Large (2000-5000)"]
# slice data and place into bins 
#pd.cut(school_summay_complete["student_count"], bins, labels=group_labels).head()
# Place the data series into a new column inside of the DataFrame - school_size_groups is the new column created 
# from binning
scores_school_size_df["school_size_groups"] = pd.cut(scores_school_size["student_count"], bins, labels=group_labels)

scores_school_size_df.groupby("school_size_groups")

scores_school_size_df.head()

In [ ]:
#scores by school type

#.groupby schooltype
school_type_grouped = school_summary_complete.groupby("type")
#pick with columns i want
type_columns = school_summary_complete[["Average Math Score":[average_math_score],
                                                "Average Reading Score":[average_reading_score],
                                                "% Passing Math":[average_passing_math],
                                                "% Passing Reading":[average_passing_reading],
                                                "% Overall Passing"]]
school_type_grouped[type_columns].mean()