In [122]:
import pandas as pd

In [123]:
# file path to schools data
schools_path = "../Resources/04-Pandas_HW_Instructions_PyCitySchools_Resources_schools_complete.csv"
schools_df = pd.read_csv(schools_path)
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [124]:
# file path to students data
students_path = "../Resources/04-Pandas_HW_Instructions_PyCitySchools_Resources_students_complete.csv"
students_df = pd.read_csv(students_path)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [125]:
# merege school dataframe and student dataframe to school data complete
school_data_complete = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [126]:
school_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [154]:
# district summary

# total number of schools
school_count = len(school_data_complete["school_name"].unique())

# total number of students
total_students = school_data_complete["student_name"]
student_count = total_students.count()

# Calculate the total budget
total_budget = schools_df["budget"].sum()
total_budget

# Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()

# Calculate the average math score
average_reading_score = school_data_complete["reading_score"].mean()

#reduced_kickstarter_df = reduced_kickstarter_df.loc[(
    #reduced_kickstarter_df["pledged"] > 0)]
    
#weeks = training_df["Membership (Days)"]/7
#training_df["Membership (Weeks)"] = weeks

passing_math = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
students_passing_df = passing_math.count()

#students_passing_math = [passing_math.count()] / [total_students.count()]

passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
#passing_reading.count()

In [134]:
# Percent of students who passed math and reading

In [155]:
# create dataframe to hold results

district_summary = pd.DataFrame(
    {"Total Schools":[school_count],
    "Total Students":[student_count],
    "Total Budget":[total_budget],
    "Average Math Score":[average_math_score],
    "Average Reading Score":[average_reading_score],
    "% Passing Math":[passing_math],
    "% Passing Reading":[passing_reading]}
    #"% Overall Passing": [overall_passing]}
)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,39170,24649428,78.985371,81.87784,Student ID student_name gender grad...,Student ID student_name gender grad...

In [160]:
# School Summary

#schools_grouped = (district_summary.groupby(["school_name"]))


schools_grouped = (school_data_complete.groupby(["school_name"]))
schools_grouped.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800